body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(240, 6%, 16%);
}
.social-btns a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    perspective: 200px;
}
.social-btns .box{
    --box-size: 50px;
    display: block;
    height: var(--box-size);
    width: var(--box-size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--box-size) / -2));
    pointer-events: none;
    transition: transform 0.5s ease;
}
.social-btns a:hover .box{
    transform: translateZ(calc(var(--box-size) / -2)) 
    rotateX(90deg);
}
.social-btns .face{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-btns .front{
    background-color:blanchedalmond;
    color: hsl(240, 6%, 16%);
    transform: translateZ(calc(var(--box-size) / 2));
}
.social-btns .bottom{
    background-color: red;
    color: hsl(0, 0%, 97%);
    transform: translateY(50%) rotateX(-90deg);
}
